@import url('bootstrap/dist/css/bootstrap.min.css');

.form-group {
    margin-top: 1%;
}

.bg-primary {
    background-color: #5f7264 !important;
    opacity: 0.8;
}

.bg-secondary {
    background-color: #9f6544 !important;
    opacity: 0.8;
}

.text-primary {
    color: #f4efe8 !important;
}

.text-secondary {
    color: #fffdfb !important;
}
